<h2>Subscriptions</h2>
<hr />
<div class="row">
  <div class="col-12">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Topic</th>
          <th>Inbound #</th>
          <th>Outbound #</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscription of subscriptions">
          <td>{{ subscription.name }}</td>
          <td>{{ subscription.inboundCount }}</td>
          <td>{{ subscription.outboundCount }}</td>
          <td>
            <button [disabled]="!isConnected" (click)="unsubscribe(subscription)" class="btn btn-link">Unsubscribe</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>